@font-face {
  font-family: Inter;
  src: local(Inter), url("./fonts/Inter-Regular.ttf") format("truetype");
}

* {
  font-family: Inter, serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  /* OLD */
  /* background-color: #1b262c; */
  /* background-color: #0f4c75; */
  /* background-color: #3282b8; */
  /* background-color: #bbe1fa; */
  /* color: #1b262c; */
  /* color: #bbe1fa; */

  /* NEW */
  /* background-color: #112d4e; */
  /* background-color: #3f72af; */
  /* background-color: #dbe2ef; */
  background-color: #f9f7f7;
  /* color: #112d4e; */
  /* color: #f9f7f7; */

  letter-spacing: 1%;
}

#header {
  margin-top: -18px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 1;
}

#header-section {
  padding: 5px;
}
