@font-face {
  font-family: Inter-Thin;
  src: local(Inter), url("./fonts/Inter-Thin.ttf") format("truetype");
}

@font-face {
  font-family: Inter-ExtraLight;
  src: local(Inter), url("./fonts/Inter-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: Inter-Light;
  src: local(Inter), url("./fonts/Inter-Light.ttf") format("truetype");
}

@font-face {
  font-family: Inter-Regular;
  src: local(Inter), url("./fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Inter-Medium;
  src: local(Inter), url("./fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Inter-SemiBold;
  src: local(Inter), url("./fonts/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Inter-Bold;
  src: local(Inter), url("./fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Inter-ExtraBold;
  src: local(Inter), url("./fonts/Inter-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: Inter-Black;
  src: local(Inter), url("./fonts/Inter-Black.ttf") format("truetype");
}

* {
  font-family: Inter-Regular, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;

  margin: 0%;
  padding: 0%;
}

body {
  /* DARK BLUE */
  background-color: #112d4e;

  /* BLUE */
  background-color: #3f72af;

  /* LIGHT BLUE */
  background-color: #dbe2ef;

  /* WHITE */
  background-color: #f9f7f7;
}

header {
  background: rgba(249, 247, 247, 0.875);

  width: 100%;
  height: 5%;

  display: flex;
  justify-content: center;
  text-align: center;

  position: fixed;
  z-index: 1;
}

footer {
  background: rgba(249, 247, 247, 0.875);
  color: #3f72af;

  width: 100%;
  height: 5%;

  display: flex;
  justify-content: center;
  text-align: center;
}

h1 {
  font-family: Inter-SemiBold, Arial, Helvetica, sans-serif;
  font-size: xx-large;
}

h2 {
  font-family: Inter-Medium, Arial, Helvetica, sans-serif;
  font-size: x-large;
}

h3 {
  font-family: Inter-Regular, Arial, Helvetica, sans-serif;
  font-size: larger;
}

h4 {
  font-family: Inter-Regular, Arial, Helvetica, sans-serif;
  font-size: large;
}

p {
  font-family: Inter-Regular, Arial, Helvetica, sans-serif;
  font-size: medium;
}

a {
  text-decoration: none;
}

#header-section {
  padding: 10px;
}

#icon-pic {
  color: #3f72af;
}

#all-buttons {
  padding-top: 5%;
}

#social-buttons {
  float: right;
}

#navigation-link {
  color: #3f72af;
  transition: color 0.25s ease-out;
}

#navigation-link:hover {
  color: black;
}

/* https://blog.hubspot.com/website/css-animation-examples */
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-15px);
  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

#logo {
  /* animation: float 5s ease-in-out infinite; */
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.5);

  height: 450px;
  width: auto;
}

#about,
#experience,
#projects,
#skills {
  height: 100%;
  width: 100%;

  position: relative;
  display: flex;

  align-items: center;
  justify-content: center;
}

#about-content,
#experience-content,
#projects-content,
#skills-content {
  width: 60%;
  height: 60%;
  padding: 2.5%;

  position: relative;
  display: flex;

  align-items: center;
  justify-content: center;
}

#about-description,
#experience-description,
#projects-description,
#skills-description {
  padding: 5%;
}

#about-title,
#experience-title,
#projects-title,
#skills-title {
  padding-bottom: 5%;
}

#about-text,
#experience-text,
#projects-text,
#skills-text {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

#about-inner,
#experience-inner,
#projects-inner,
#skills-inner {
  padding-bottom: 0.5%;
}
